<mat-toolbar color="primary" class="app-header">
  <div><a routerLink='flights' class="positronx">{{title}}</a></div>
  <!-- <span class="nav-tool-items">
    <a mat-button routerLink="signin" routerLinkActive="active" *ngIf="!isAuthenticated">Signin</a>
    <a mat-button routerLink="signup" routerLinkActive="active" *ngIf="!isAuthenticated">Sigup</a>
    <a mat-button routerLink="addFlight" routerLinkActive="active" *ngIf="isAuthenticated && isAdmin">Add flight</a>
    <a mat-button routerLink="mytickets" routerLinkActive="active" *ngIf="isAuthenticated">My Tickets</a>
    <a mat-button routerLink="signin" routerLinkActive="active" *ngIf="isAuthenticated">Logout</a>
  </span> -->
</mat-toolbar>

<router-outlet></router-outlet>